<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chez Eloise</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script src="scripts/pics.js"></script>
</head>
<body ng-app="restaurantApp">
	<div class="container" ng-controller="mainCtrl">
		<!-- Menu -->
		<div class="menu" ng-hide="wines === true">
			<div id="left" class="col-md-4">
				<div>
					<a href="" ng-click="wines = true"><h4 id="wlist" class="text-center">Wine List</h4></a>
				</div>
				<div id="tower-left" class="hidden-sm hidden-xs"></div>
			</div>
			<div class="col-md-4 text-center">
				<h1 id="name">Chez Eloise</h1>
				<div id="scroll"></div>	
				<!-- Appetizers -->
				<u><h2 class="menu-section" id="apps">Appetizers</h2></u>
				<div  ng-repeat="app in appetizers">
					<ul class="list-unstyled">
						<li>{{app.item}}&nbsp&nbsp&nbsp&nbsp{{app.price}}</li>
					</ul> <!-- /Appetizers -->
				</div>
				<!-- Entrees -->
				<u><h2 class="menu-section">Entrees</h2></u>
				<div  ng-repeat="entree in entrees">
					<ul class="list-unstyled">
						<li>{{entree.item}}&nbsp&nbsp&nbsp&nbsp{{entree.price}}</li>
					</ul> <!-- /Entreess -->
				</div>
				<!-- Desserts -->
				<u><h2 class="menu-section">Desserts</h2></u>
				<div  ng-repeat="dessert in desserts">
					<ul class="list-unstyled">
						<li>{{dessert.item}}&nbsp&nbsp&nbsp&nbsp{{dessert.price}}</li>
					</ul> <!-- /Desserts -->
				</div>
			</div>
			<div id="right" class="col-md-4">
				<div id="tower-right" class="hidden-sm hidden-xs"></div>
			</div>
		</div><!-- /Menu -->
		<!-- Wine List -->
		<div class="wineList" ng-show="wines === true">
			<div id="left-wine" class="col-md-4">
				<div>
					<a href="index.html"><h4 id="menu-page" class="text-center">Menu</h4></a>
				</div>
				<div id="tower-left-wine" class="hidden-sm hidden-xs"></div>
			</div>
			<div id="wine" class="col-md-7 text-center">
				<h1 id="wine-list">Wine List</h1>
				<!-- Sparkling -->
				<u><h2 class="wine-section">Sparkling</h2></u>
				<div  ng-repeat="sparkle in sparkling">
					<ul class="list-unstyled">
						<li>{{sparkle.item}}&nbsp&nbsp&nbsp&nbsp{{sparkle.pricePerGlass}}/{{sparkle.pricePerBottle}}</li>
					</ul> <!-- /Sparkling -->
				</div>
				<!-- White -->
				<u><h2 class="wine-section">White</h2></u>
				<div  ng-repeat="white in whites">
					<ul class="list-unstyled">
						<li>{{white.item}}&nbsp&nbsp&nbsp&nbsp{{white.pricePerGlass}}/{{white.pricePerBottle}}</li>
					</ul> <!-- /White -->
				</div>
				<!-- Red -->
				<u><h2 class="wine-section">Red</h2></u>
				<div  ng-repeat="red in reds">
					<ul class="list-unstyled">
						<li>{{red.item}}&nbsp&nbsp&nbsp&nbsp{{red.pricePerGlass}}/{{red.pricePerBottle}}</li>
					</ul> <!-- /Red -->
				</div>
			</div>
		</div><!-- /Wine List -->
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
	crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js">
	</script>
	<script src="scripts/app.js"></script>
</body>
</html>